<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/assets/images/favicon/favicon-72x72.png" />
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/favicon-72x72.png" sizes="72x72" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileImage" content="favicon-72x72.png.png" />
<meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
<meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
